.tables {
  background-image: url(https://rockstheme.com/rocks/aievari-live/img/background/bg3.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 100px 0 70px;
  .table-items {
    .table-item {
      width: 70%;
      margin: 0 auto;
      padding: 40px;
      background-color: #f5f5f5;
      border-top: 5px solid $orange;
      .table-backpart {
        h4 {
          display: inline-block;
          font-size: 26px;
          line-height: 34px;
          background: $orange;
          margin-bottom: 25px;
          padding: 10px 30px;
          border-radius: 3px;
        }
        span {
          font-size: 28px;
          height: 54px;
          color: #fff;
          background-color: $orange;
          padding: 10px 20px;
          border-radius: 3px;
          line-height: 32px;
        }
      }
      table,
      .table-active {
        font-size: 16px;
        line-height: 26px;
        color: #5d6471;
        animation: name duration timing-function delay iteration-count direction fill-mode;
      }
    }
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }
}
