// Light colors
$white: #fff;
$light_grey: #5d6471; //Shuttle Grey

//Dark colors
$dark_blue: #151b2c; //Mirage
$black_grey: #444; //Black Eel

$orange: #e6922e; //Carrot Orange
$green: #1aa15f;
$purple: #b91ca8;